body {
	background:#eee;
	font-size:13px;
}
h1 {
	font-size:20px;
	margin:0 0 12px;
}
h1 .edit {
	font-size:14px;
	margin-left:10px;
}
h2 {
	font-size:17px;
}
h3 {
	font-size:15px;
	margin:0 0 3px;
}
label {
	font-weight:normal;
}
.table {
	border-top:1px solid #ddd;
	font-size:11px;
	margin-bottom:15px;
}
th,td {
	text-align:center;
	border:1px solid #ddd;
}
th {
	background:#e7f3fe;
	border-bottom:1px solid #ddd !important;
	color:#777	;
	font-size:10px;
}
.table-first-left td:first-child {
	padding-left:12px !important;
	text-align:left;
}
td:last-child {
	position:relative;
}
.btn {
	font-weight:bold;
	padding:10px 20px;
}
.btn-primary {
	background:#4a9dea;
}
form {
	margin-top:15px;
}
.form-control {
	width:350px;
}
.input-small {
	width:100px;
}


.pagination {
	float:right;
	margin:5px 0 20px;
}
.nav-tabs {
	border-bottom:none;
	font-size:12px;
	clear:both;
}
.nav-tabs .active {
	bottom:-1px;
}
.nav-tabs .active a {
	background:transparent !important;
}

.data-bold {
	font-weight:bold;
}

.headerbg {
	background:#002234;
	color:#fff;
	padding:10px 0;
}
.header, .footer {
	margin:0 auto;
	padding:0 20px;
	position:relative;
	max-width:1140px;
}
.header .logo {
	float:left;
}
.header-login {
	font-size:12px;
	float:right;
	padding-top:9px;
}
.header-login a, .settings-link-mobile, .settings-link-mobile-env a  {
	color:#ccc;
	margin-left:30px;
}

.settings-link-mobile .glyphicon {
	cursor:pointer;
	display:none;
	font-size:18px;
}
.settings-link-mobile-env {
	border-top:1px solid #345977;
	display:none;
	padding:7px 20px 0 0;
	margin:10px 0 0;
	text-align:right;
	width:100%;
}
.settings-link-mobile .opened {
	display:block;
}

.footerbg {
	background:#eee;
	min-height:140px;
	padding:20px 0;
}
.footer-logged-out {
	background:#fff;
	min-height:240px;
	padding-top:40px;
}
.copyright {
	color:#666;
	float:left;
	font-size:10px;
}
.footer-links {
	float:right;
}

.main-nav-bg {
	background:#1b394a;
}
.main-nav ul{
	margin-bottom:0;
}
.main-nav li {
	float:left;
}
.main-nav a {
	color:#fff;
	font-size:13px;
	display:block;
	padding:15px 20px 14px;
	text-decoration:none;
}
.main-nav a:hover {
	background:#2a4e62;
}
li.main-nav-2, li.main-nav-3 {
	float:right;
}
.main-nav-2 a {
	color:#d9b0e3;
}
.main-nav-3 a {
	color:#bbb;
}
.main-nav .active a {
	background:#777;
}

.main-bg {
	background:#fff;
	padding-bottom:40px;
}
.main-body {
	padding-top:20px;
}

.left-nav a {
	background:#eee;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	display:block;
	font-size:12px;
	padding:10px 5px 10px 20px;
	text-decoration:none;
	width:100%;
}
.left-nav a:hover {
	background:#ddd;
}
.left-nav .active a, .left-nav .active a:hover {
	background:#94adc1;
	color:#fff;
	text-decoration:none;
}
.left-nav .active a:hover, .left-nav .open a {
	background:#adbdc9;
}

/* ENVELOPE JS */
.envelope-js-option, .envelope-js-2-option {
	display:none;
}
.envelope-js-nav-select, .main-nav .envelope-js-nav-select, .left-nav .envelope-js-nav-select {
	display:none;
}
.envelope-js .opened, .envelope-js-nav .opened, .envelope-js-2 .opened, {
	display:block;
}
.envelope-js-global-hide {
	display:none; /* This is hidden in responsive desktop */
}
.opened, li.opened {
	display:block;
}
.hidden {
	display:none;
}


.crumbs {
	border-bottom:1px solid #ddd;
	color:#666;
	font-size:12px;
	padding:0 0 5px;
	margin:0 0 30px;
}
.crumbs span {
	color:#999;
	margin:0 6px;
}
.crumbs .edit {
	margin-left:10px;
}

.main-column h1 {
	margin-bottom:5px;
}
.detail-top {
	color:#999;
}
.detail-top h1 {
	color:#000;
	padding:0;
}
.detail-campaign-sources {
	margin-left:-2px;
	margin-bottom:0;
}
.detail-campaign-sources li {
	padding:0 0 0 2px;
}
.detail-graph {
	margin: 5px 0 5px;
}

.table-help {
	color:#bbb;
}
tr:hover td {
	background:#555 !important;
	color:#fff;
}
tr:hover td a {
	color:#a5d5ff;
}
.table-link, .table-link:hover td {
	background:#fefee7 !important;
}
.table-link:hover td a {
	color:#428bca;
}
.table-half-left {
	float:left;
	margin-right:25px;
	width:47%;
}
.table-active {
	background:#b4e7c6;
}


.ceq-tabletip {
	background-clip: padding-box; /* Firefox fix */
	position:relative;
}
.ceq-tabletip-icon {
	cursor:pointer;
}
.ceq-tabletip-message {
	background:#e7f3fe;
	border:1px solid #999;
	color:#000;
	cursor:pointer;
	display:none;
	font-weight:normal;
	font-size:11px;
	padding:8px 12px;
	position:absolute;
	right:10px;
	text-align:left;
	width:200px;
	z-index:100;
}

.dates {
	background:#e7f3fe;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	color:#666;
	font-size:12px;
	margin-top:-30px;
	padding:4px 12px 5px;
	position:absolute;
	right:15px;
	z-index:50;
}
.dates-fields {
	padding-top:8px;
}
.dates-fields form {
	margin:10px 0 10px;
}
.dates-fields input {
	display:inline;
}
.dates-fields .form-group {
	margin-bottom:10px;
}
.dates-default a {
	color:#666;
}
.dates .btn {
	margin-top:8px;
}



/* Landscape mobile device below 780px */
@media screen and (max-width: 992px) {
	button {
		width:100%;
	}
	.form-control {
		width:100%;
	}
	.header, .footer {
		padding-right:20px;
		padding-left:20px;
	}
	.header-login {
		padding-top:6px;
	}
	.left-column {
		float:none;
		width:100%;
	}
	.main-nav span, .left-nav span {
		float:right;
		position:relative;
		top:2px;
	}
	.main-nav li {
		float:none;
	}
	.main-nav a {
		border-bottom:1px solid #555;
	}
	.left-nav a {
		padding-top:14px;
		padding-bottom:14px;
	}
	.left-nav span {
		right:15px;
	}
	.envelope-js-nav-select {
		display:block !important;
	}
	.envelope-js-nav-option {
		display:none;
	}
	.col-xs-12, .col-xs-3 {
		padding:0;
	}
	.main-column {
		padding-right:15px;
		padding-left:15px;
	}
	.main-body {
		padding-top:0;
	}
	.pagination > li > a, .pagination > li > span {
		padding:10px 15px;
	}
	.crumbs {
		padding-top:5px;
		margin-bottom:10px;
	}
	.nav-tabs {
		font-size:10px;
	}
	.settings-link-mobile .glyphicon {
		display:block;
	}
	.copyright {
		float:none;
	}
	.footer-links {
		float:none;
	}
	.footer-links li {
		margin-top:10px;
	}
	.detail-top {
		padding-top:12px;
	}
	.dates {
		border:1px solid #ddd;
		border-radius: 4px;
		margin-top:10px;
		margin-bottom:12px;
		padding:4px 12px 5px;
		position:static;
		text-align:center;
		width:100%;
	}
	.dates a {
		width:100%;
	}
	.dates-default {
		text-align:center;
	}
	.date-range-clear {
		display:block;
		margin:8px 0;
		text-align:right;
	}
	.table-half-left, .table-half-right {
		float:none;
		margin-right:0;
		width:100%;
	}
	
	
	
	/* HIDE FOR MOBILE LANDSCAPE AND SMALLER */
	.responsive-hide-ml {
		display:none;
	}
}

/* Portrait mobile device */
@media screen and (max-width: 500px) {
	/* HIDE FOR MOBILE PORTRAIT AND SMALLER */
	.responsive-hide-mp {
		display:none;
	}
}